# system
.DS_Store
Thumbs.db

# eclipse
/.settings
/.buildpath
/.project

/composer.phar
/app/cache/*
/app/logs/*

# to keep empty directories in the repository, place an empty '.gitkeep' file inside it
!.gitkeep
