# system
.DS_Store
Thumbs.db

# eclipse
/.settings
/.buildpath
/.project

/composer.phar
/app/cache/*
/app/logs/*

# to keep empty directories in the repository, place an empty '.gitkeep' file inside it
!.gitkeep

# original symfony .gitignore:
#/web/bundles/
#/app/bootstrap.php.cache
#/app/cache/*
#/app/config/parameters.yml
#/app/logs/*
#!app/cache/.gitkeep
#!app/logs/.gitkeep
#/build/
#/vendor/
#/bin/
#/composer.phar
