<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}SF2 Tutorial{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/tutoalbum/css/album.css') }}" />
    </head>
    <body>
        <h1>SF2 Tutorial</h1>
        
        {% block content %}
        {% endblock %}
    </body>
</html>
