Powered by: 
<a href="http://www.php.net/">PHP version <strong>{{ phpVersion }}</strong></a> |
<a href="http://symfony.com">Symfony version <strong>{{ symfonyVersion }}</strong></a> |
<a href="http://www.doctrine-project.org/">Doctrine version <strong>{{ doctrineVersion }}</strong></a>
